<p>Kategoria {{ category.getTitle() }} nie jest pusta, czy na pewno chcesz usunąć całą kategorię wraz z całą zawartością?</p>
<a href="{{ action }}">Usuń całą kategorię z zawartością</a><br>
<a href="{{ back }}">Wróć</a>